/*! de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}

/**
 * Remove all Style fro select elements. Does not quite work cross-browser
 */
select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix placeholder font properties inheritance.
 */
::-webkit-input-placeholder {
  font: inherit;
}

:-ms-input-placeholder {
  font: inherit;
}

::-ms-input-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*------------------------------------------*/
/*  BASE STYLES
/*------------------------------------------*/
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Blender Pro", sans-serif;
}

/*------------------------------------------*/
/*  #GRID
/*------------------------------------------*/
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -.43em;
}

.pure-u, .pure-u-1, .pure-u-1-1, .pure-u-1-12, .pure-u-1-2, .pure-u-1-24, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-2-24, .pure-u-2-3, .pure-u-2-5, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24, .pure-u-3-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-4-24, .pure-u-4-5, .pure-u-5-12, .pure-u-5-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-6-24, .pure-u-7-12, .pure-u-7-24, .pure-u-7-8, .pure-u-8-24, .pure-u-9-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-g [class*=pure-u] {
  font-family: sans-serif;
}

.pure-u-1-24 {
  width: 4.1667%;
}

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
}

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
}

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
}

.pure-u-1-5 {
  width: 20%;
}

.pure-u-5-24 {
  width: 20.8333%;
}

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
}

.pure-u-7-24 {
  width: 29.1667%;
}

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
}

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
}

.pure-u-2-5 {
  width: 40%;
}

.pure-u-10-24, .pure-u-5-12 {
  width: 41.6667%;
}

.pure-u-11-24 {
  width: 45.8333%;
}

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
}

.pure-u-13-24 {
  width: 54.1667%;
}

.pure-u-14-24, .pure-u-7-12 {
  width: 58.3333%;
}

.pure-u-3-5 {
  width: 60%;
}

.pure-u-15-24, .pure-u-5-8 {
  width: 62.5%;
}

.pure-u-16-24, .pure-u-2-3 {
  width: 66.6667%;
}

.pure-u-17-24 {
  width: 70.8333%;
}

.pure-u-18-24, .pure-u-3-4 {
  width: 75%;
}

.pure-u-19-24 {
  width: 79.1667%;
}

.pure-u-4-5 {
  width: 80%;
}

.pure-u-20-24, .pure-u-5-6 {
  width: 83.3333%;
}

.pure-u-21-24, .pure-u-7-8 {
  width: 87.5%;
}

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
}

.pure-u-23-24 {
  width: 95.8333%;
}

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
  width: 100%;
}

@media screen and (min-width: 36em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-12, .pure-u-sm-1-2, .pure-u-sm-1-24, .pure-u-sm-1-3, .pure-u-sm-1-4, .pure-u-sm-1-5, .pure-u-sm-1-6, .pure-u-sm-1-8, .pure-u-sm-10-24, .pure-u-sm-11-12, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-2-24, .pure-u-sm-2-3, .pure-u-sm-2-5, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24, .pure-u-sm-3-24, .pure-u-sm-3-4, .pure-u-sm-3-5, .pure-u-sm-3-8, .pure-u-sm-4-24, .pure-u-sm-4-5, .pure-u-sm-5-12, .pure-u-sm-5-24, .pure-u-sm-5-5, .pure-u-sm-5-6, .pure-u-sm-5-8, .pure-u-sm-6-24, .pure-u-sm-7-12, .pure-u-sm-7-24, .pure-u-sm-7-8, .pure-u-sm-8-24, .pure-u-sm-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-sm-1-24 {
    width: 4.1667%;
  }
  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
  }
  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
  }
  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
  }
  .pure-u-sm-1-5 {
    width: 20%;
  }
  .pure-u-sm-5-24 {
    width: 20.8333%;
  }
  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
  }
  .pure-u-sm-7-24 {
    width: 29.1667%;
  }
  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
  }
  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
  }
  .pure-u-sm-2-5 {
    width: 40%;
  }
  .pure-u-sm-10-24, .pure-u-sm-5-12 {
    width: 41.6667%;
  }
  .pure-u-sm-11-24 {
    width: 45.8333%;
  }
  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
  }
  .pure-u-sm-13-24 {
    width: 54.1667%;
  }
  .pure-u-sm-14-24, .pure-u-sm-7-12 {
    width: 58.3333%;
  }
  .pure-u-sm-3-5 {
    width: 60%;
  }
  .pure-u-sm-15-24, .pure-u-sm-5-8 {
    width: 62.5%;
  }
  .pure-u-sm-16-24, .pure-u-sm-2-3 {
    width: 66.6667%;
  }
  .pure-u-sm-17-24 {
    width: 70.8333%;
  }
  .pure-u-sm-18-24, .pure-u-sm-3-4 {
    width: 75%;
  }
  .pure-u-sm-19-24 {
    width: 79.1667%;
  }
  .pure-u-sm-4-5 {
    width: 80%;
  }
  .pure-u-sm-20-24, .pure-u-sm-5-6 {
    width: 83.3333%;
  }
  .pure-u-sm-21-24, .pure-u-sm-7-8 {
    width: 87.5%;
  }
  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
  }
  .pure-u-sm-23-24 {
    width: 95.8333%;
  }
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-24-24, .pure-u-sm-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-12, .pure-u-md-1-2, .pure-u-md-1-24, .pure-u-md-1-3, .pure-u-md-1-4, .pure-u-md-1-5, .pure-u-md-1-6, .pure-u-md-1-8, .pure-u-md-10-24, .pure-u-md-11-12, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-2-24, .pure-u-md-2-3, .pure-u-md-2-5, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24, .pure-u-md-3-24, .pure-u-md-3-4, .pure-u-md-3-5, .pure-u-md-3-8, .pure-u-md-4-24, .pure-u-md-4-5, .pure-u-md-5-12, .pure-u-md-5-24, .pure-u-md-5-5, .pure-u-md-5-6, .pure-u-md-5-8, .pure-u-md-6-24, .pure-u-md-7-12, .pure-u-md-7-24, .pure-u-md-7-8, .pure-u-md-8-24, .pure-u-md-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-md-1-24 {
    width: 4.1667%;
  }
  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
  }
  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
  }
  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
  }
  .pure-u-md-1-5 {
    width: 20%;
  }
  .pure-u-md-5-24 {
    width: 20.8333%;
  }
  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
  }
  .pure-u-md-7-24 {
    width: 29.1667%;
  }
  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
  }
  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
  }
  .pure-u-md-2-5 {
    width: 40%;
  }
  .pure-u-md-10-24, .pure-u-md-5-12 {
    width: 41.6667%;
  }
  .pure-u-md-11-24 {
    width: 45.8333%;
  }
  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
  }
  .pure-u-md-13-24 {
    width: 54.1667%;
  }
  .pure-u-md-14-24, .pure-u-md-7-12 {
    width: 58.3333%;
  }
  .pure-u-md-3-5 {
    width: 60%;
  }
  .pure-u-md-15-24, .pure-u-md-5-8 {
    width: 62.5%;
  }
  .pure-u-md-16-24, .pure-u-md-2-3 {
    width: 66.6667%;
  }
  .pure-u-md-17-24 {
    width: 70.8333%;
  }
  .pure-u-md-18-24, .pure-u-md-3-4 {
    width: 75%;
  }
  .pure-u-md-19-24 {
    width: 79.1667%;
  }
  .pure-u-md-4-5 {
    width: 80%;
  }
  .pure-u-md-20-24, .pure-u-md-5-6 {
    width: 83.3333%;
  }
  .pure-u-md-21-24, .pure-u-md-7-8 {
    width: 87.5%;
  }
  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
  }
  .pure-u-md-23-24 {
    width: 95.8333%;
  }
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-24-24, .pure-u-md-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 62em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-12, .pure-u-lg-1-2, .pure-u-lg-1-24, .pure-u-lg-1-3, .pure-u-lg-1-4, .pure-u-lg-1-5, .pure-u-lg-1-6, .pure-u-lg-1-8, .pure-u-lg-10-24, .pure-u-lg-11-12, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-2-24, .pure-u-lg-2-3, .pure-u-lg-2-5, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24, .pure-u-lg-3-24, .pure-u-lg-3-4, .pure-u-lg-3-5, .pure-u-lg-3-8, .pure-u-lg-4-24, .pure-u-lg-4-5, .pure-u-lg-5-12, .pure-u-lg-5-24, .pure-u-lg-5-5, .pure-u-lg-5-6, .pure-u-lg-5-8, .pure-u-lg-6-24, .pure-u-lg-7-12, .pure-u-lg-7-24, .pure-u-lg-7-8, .pure-u-lg-8-24, .pure-u-lg-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-lg-1-24 {
    width: 4.1667%;
  }
  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
  }
  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
  }
  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
  }
  .pure-u-lg-1-5 {
    width: 20%;
  }
  .pure-u-lg-5-24 {
    width: 20.8333%;
  }
  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
  }
  .pure-u-lg-7-24 {
    width: 29.1667%;
  }
  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
  }
  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
  }
  .pure-u-lg-2-5 {
    width: 40%;
  }
  .pure-u-lg-10-24, .pure-u-lg-5-12 {
    width: 41.6667%;
  }
  .pure-u-lg-11-24 {
    width: 45.8333%;
  }
  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
  }
  .pure-u-lg-13-24 {
    width: 54.1667%;
  }
  .pure-u-lg-14-24, .pure-u-lg-7-12 {
    width: 58.3333%;
  }
  .pure-u-lg-3-5 {
    width: 60%;
  }
  .pure-u-lg-15-24, .pure-u-lg-5-8 {
    width: 62.5%;
  }
  .pure-u-lg-16-24, .pure-u-lg-2-3 {
    width: 66.6667%;
  }
  .pure-u-lg-17-24 {
    width: 70.8333%;
  }
  .pure-u-lg-18-24, .pure-u-lg-3-4 {
    width: 75%;
  }
  .pure-u-lg-19-24 {
    width: 79.1667%;
  }
  .pure-u-lg-4-5 {
    width: 80%;
  }
  .pure-u-lg-20-24, .pure-u-lg-5-6 {
    width: 83.3333%;
  }
  .pure-u-lg-21-24, .pure-u-lg-7-8 {
    width: 87.5%;
  }
  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
  }
  .pure-u-lg-23-24 {
    width: 95.8333%;
  }
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-24-24, .pure-u-lg-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-12, .pure-u-xl-1-2, .pure-u-xl-1-24, .pure-u-xl-1-3, .pure-u-xl-1-4, .pure-u-xl-1-5, .pure-u-xl-1-6, .pure-u-xl-1-8, .pure-u-xl-10-24, .pure-u-xl-11-12, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-2-24, .pure-u-xl-2-3, .pure-u-xl-2-5, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24, .pure-u-xl-3-24, .pure-u-xl-3-4, .pure-u-xl-3-5, .pure-u-xl-3-8, .pure-u-xl-4-24, .pure-u-xl-4-5, .pure-u-xl-5-12, .pure-u-xl-5-24, .pure-u-xl-5-5, .pure-u-xl-5-6, .pure-u-xl-5-8, .pure-u-xl-6-24, .pure-u-xl-7-12, .pure-u-xl-7-24, .pure-u-xl-7-8, .pure-u-xl-8-24, .pure-u-xl-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-xl-1-24 {
    width: 4.1667%;
  }
  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
  }
  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
  }
  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
  }
  .pure-u-xl-1-5 {
    width: 20%;
  }
  .pure-u-xl-5-24 {
    width: 20.8333%;
  }
  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
  }
  .pure-u-xl-7-24 {
    width: 29.1667%;
  }
  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
  }
  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
  }
  .pure-u-xl-2-5 {
    width: 40%;
  }
  .pure-u-xl-10-24, .pure-u-xl-5-12 {
    width: 41.6667%;
  }
  .pure-u-xl-11-24 {
    width: 45.8333%;
  }
  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
  }
  .pure-u-xl-13-24 {
    width: 54.1667%;
  }
  .pure-u-xl-14-24, .pure-u-xl-7-12 {
    width: 58.3333%;
  }
  .pure-u-xl-3-5 {
    width: 60%;
  }
  .pure-u-xl-15-24, .pure-u-xl-5-8 {
    width: 62.5%;
  }
  .pure-u-xl-16-24, .pure-u-xl-2-3 {
    width: 66.6667%;
  }
  .pure-u-xl-17-24 {
    width: 70.8333%;
  }
  .pure-u-xl-18-24, .pure-u-xl-3-4 {
    width: 75%;
  }
  .pure-u-xl-19-24 {
    width: 79.1667%;
  }
  .pure-u-xl-4-5 {
    width: 80%;
  }
  .pure-u-xl-20-24, .pure-u-xl-5-6 {
    width: 83.3333%;
  }
  .pure-u-xl-21-24, .pure-u-xl-7-8 {
    width: 87.5%;
  }
  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
  }
  .pure-u-xl-23-24 {
    width: 95.8333%;
  }
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-24-24, .pure-u-xl-5-5 {
    width: 100%;
  }
}

/*------------------------------------------*/
/*  BASIC TYPOGRAPHY STYLES
/*------------------------------------------*/
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: 1rem "Proba Pro", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
}

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  font-family: "Proba Pro", sans-serif;
}

/*------------------------------------------*/
/*  #HELPERS
/*------------------------------------------*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * An Intrinsic Ratio Component
 */
.intrinsic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  background: #f0f0f0;
}

.intrinsic.intrinsic--square {
  padding-top: 100%;
}

.intrinsic.intrinsic--4x3 {
  padding-top: 75%;
}

.intrinsic.intrinsic--16x9 {
  padding-top: 56.25%;
}

.intrinsic .intrinsic-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  color: #1a9e08;
}

.section-bg {
  background-color: #edeeef;
}

/*------------------------------------------*/
/*  #CONTAINER
/*------------------------------------------*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1170px;
  }
}

/*------------------------------------------*/
/*  #MENUS
/*------------------------------------------*/
.menu-primary,
.menu-secondary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-secondary {
  align-items: flex-start;
}

.menu-primary__item,
.menu-secondary__item {
  display: inline-block;
  padding: 0.75rem 1.125rem;
  font: normal 0.875rem "Blender Pro", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.menu-primary__item:hover, .menu-primary__item:focus,
.menu-secondary__item:hover,
.menu-secondary__item:focus {
  color: #fff;
}

.menu-primary__item.dropdown::after,
.menu-secondary__item.dropdown::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin-left: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.menu-secondary__item {
  font-size: 0.85rem;
}

/*------------------------------------------*/
/*  #OVERLAY
/*------------------------------------------*/
.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/*------------------------------------------*/
/*  BUTTONS
/*------------------------------------------*/
.button {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;
  border: 1px solid;
  border-radius: 2px;
  padding: 0.75em 2em;
  font-family: "Blender Pro", sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0px 2px 3.88px 0.12px rgba(0, 0, 0, 0.07);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.button:focus {
  outline: unset;
}

.button-primary {
  border-color: #1a9e08;
  background-color: #1a9e08;
  color: #fff;
}

.button-primary:hover, .button-primary:focus {
  background-color: #178e07;
}

.button-arrow::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 8px;
  transform: rotate(180deg);
  background-image: url(../img/icons/arrow-back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.2s ease-in-out;
}

.button-arrow:hover::after {
  transform: rotate(180deg) translateX(-100%);
}

/*------------------------------------------*/
/*  #SECTION-TITLE
/*------------------------------------------*/
.section-title {
  position: relative;
  padding-top: 18px;
  font: bold 1.875rem "Blender Pro", sans-serif;
  line-height: 1.3;
}

.section-title::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 68px;
  border-top: 3px solid #1a9e08;
}

.section-title--blur {
  position: absolute;
  top: -10px;
  left: 5px;
  font-size: 5rem;
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
}

/*------------------------------------------*/
/*  #HEADER
/*------------------------------------------*/
.page-header {
  margin-bottom: -80px;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100000;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.brand {
  display: block;
}

.brand--header {
  margin-right: auto;
}

.nav-contacts {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6px 0 6px 30px;
}

.nav-contact {
  position: relative;
  display: block;
  padding-left: 20px;
  font: normal 0.75rem "Blender Pro", sans-serif;
  color: #fff;
}

.nav-contact:first-child {
  margin-bottom: 10px;
}

.nav-contact:hover, .nav-contact:focus {
  color: #fff;
}

.nav-contact::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav-contact--phone::after {
  background-image: url(../img/icons/smartphone.svg);
}

.nav-contact--email::after {
  background-image: url(../img/icons/email.svg);
}

/*------------------------------------------*/
/*  #FOOTER
/*------------------------------------------*/
.page-footer {
  padding-top: 55px;
  padding-bottom: 30px;
  background-color: #505050;
  color: #fff;
}

.page-footer__top-row {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.brand--footer {
  margin-right: auto;
}

.socials-block {
  margin-left: 20px;
  padding-left: 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  text-align: right;
}

.button-outline--socials {
  border-color: #fff;
  color: #fff;
  margin-bottom: 10px;
  padding: 0.7em 2.2em;
}

.button-outline--socials:hover, .button-outline--socials:focus {
  opacity: 0.7;
}

.social {
  display: inline-block;
  cursor: pointer;
  font-size: 0;
}

.social--vk {
  width: 28px;
  height: 16px;
}

.social--instagram {
  width: 20px;
  height: 20px;
}

.social + .social {
  margin-left: 12px;
}

.vk-icon {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.instagram-icon {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.social:hover .vk-icon {
  opacity: 0.7;
}

.social:hover .instagram-icon {
  opacity: 0.7;
}

.page-footer__bottom-row {
  align-items: center;
  color: #bcbcbc;
}

.footer-copyright {
  margin-right: auto;
  font-size: 0.875rem;
}

.dev-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dev-logo {
  flex: none;
  display: inline-block;
  margin-right: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.2s ease-in-out;
}

.dev-logo img {
  display: block;
  transition: opacity 0.2s ease-in-out;
}

.dev-logo:hover, .dev-logo:focus {
  border-color: #1a9e08;
}

.dev-logo:hover img, .dev-logo:focus img {
  opacity: 0.7;
}

.dev-desc {
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.3;
}

/*------------------------------------------*/
/*  #HERO
/*------------------------------------------*/
.hero {
  padding-top: 180px;
  padding-bottom: 135px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title-block {
  margin-bottom: 80px;
  color: #fff;
}

.hero-title {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 22px;
  line-height: 1.3;
}

.hero-title--big {
  display: block;
  font-weight: bold;
  font-size: 3.25rem;
}

.hero-title--small {
  display: block;
  font-weight: normal;
  font-size: 1.75rem;
}

.hero-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  border-top: 5px solid #1a9e08;
}

.hero-subtitle {
  font-size: 1.25rem;
}

.hero-subtitle b {
  font-weight: 500;
}

.test-offer {
  width: 100%;
  max-width: 490px;
  padding: 30px 35px;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 7.52px 0.48px rgba(0, 0, 0, 0.5);
}

.test-offer__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 25px;
}

.test-offer .button {
  display: block;
  width: 100%;
  max-width: 228px;
}

.test-offer__desc {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #d1d1d1;
  color: #808080;
}

/*------------------------------------------*/
/*  #BENEFITS
/*------------------------------------------*/
.benefits {
  position: relative;
  padding-top: 120px;
  color: #fff;
}

.benefits::before {
  background-color: rgba(0, 0, 0, 0.85);
}

.benefits-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -2;
}

.benefits-list {
  margin-left: -15px;
  margin-right: -15px;
}

.benefit {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 104px;
}

.benefit-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 36px;
  font: bold 1.625rem "Blender Pro", sans-serif;
  line-height: 1;
}

.benefit-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.benefit-title--clock::after {
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/clock.svg);
}

.benefit-title--truck::after {
  width: 80px;
  height: 50px;
  background-image: url(../img/icons/truck.svg);
}

.benefit-title--docs::after {
  width: 50px;
  height: 63px;
  background-image: url(../img/icons/docs.svg);
}

.benefit-title--wallet::after {
  width: 58px;
  height: 60px;
  background-image: url(../img/icons/wallet.svg);
}

.benefit-title--trophy::after {
  width: 52px;
  height: 63px;
  background-image: url(../img/icons/trophy.svg);
}

.benefit-title--graphics::after {
  width: 52px;
  height: 63px;
  background-image: url(../img/icons/graphics.svg);
}

.benefit-desc {
  padding-left: 36px;
  line-height: 1.7;
}

.benefit-notes {
  font-style: italic;
}

/*------------------------------------------*/
/*  #GUARANTEES
/*------------------------------------------*/
.guarantees {
  padding-top: 84px;
  padding-bottom: 74px;
}

.guarantees-title {
  margin-bottom: 42px;
}

.guarantees-list {
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.guarantees-list > [class*=pure-u] {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 35px;
}

.guarantee {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 7px 13.5px 1.5px rgba(0, 0, 0, 0.08);
}

.guarantee-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #e0e0e0;
}

.guarantee-time {
  flex: none;
  margin-right: 30px;
  padding: 16px 38px 16px 0;
  border-right: 1px solid #e0e0e0;
  font-family: "Blender Pro", sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1;
  text-transform: uppercase;
}

.guarantee-body {
  padding-top: 12px;
  font-size: 1.125rem;
}

.guarantee-body b {
  font-weight: 500;
}

/*------------------------------------------*/
/*  #PORTFOLIO
/*------------------------------------------*/
.portfolio {
  min-height: 2285px;
}

/*------------------------------------------*/
/*  #VIDEO
/*------------------------------------------*/
.video {
  padding-top: 72px;
  padding-bottom: 55px;
}

.video-title {
  margin-bottom: 60px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50.87719298%;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: opacity 0.8s, height 0s;
  transition-delay: 0s, 0s;
}

.video-play::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.video-play__button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}

.video-play__icon {
  fill: #1a9e08;
  transition: fill 0.2s ease-in-out;
}

.video-play:hover .video-play__icon {
  fill: #168607;
}

.video-block .videoWrapperActive .video-play {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 800ms;
}

.video__textbox {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  max-width: 300px;
  padding: 32px 40px;
  border-radius: 3px;
  font-size: 0.9375rem;
  line-height: 1.66;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8.37px 0.63px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.video__textbox-title {
  position: relative;
  font-family: "Blender Pro", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 18px;
  padding-bottom: 16px;
}

.video__textbox-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 50px;
  border-top: 2px solid #fff;
}

/*------------------------------------------*/
/*  #DESIGN
/*------------------------------------------*/
.design {
  padding-top: 82px;
  padding-bottom: 55px;
  background-color: yellow;
}

.design-title {
  margin-bottom: 100px;
}

.design-instance {
  height: 530px;
  background-color: green;
}

/*------------------------------------------*/
/*  #PRICE
/*------------------------------------------*/
.price {
  padding-top: 70px;
  padding-bottom: 0;
}

.price-title {
  margin-bottom: 35px;
}

.price-heading {
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.price-subtitle {
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1;
}

.price-list {
  margin-left: -15px;
  margin-right: -15px;
}

.price-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.price-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25px;
  border: 5px solid #edeeef;
  background-color: #fff;
  transition: all 0.3s;
}

.price-item:hover .price-item__content {
  background-color: #edeeef;
  box-shadow: 0px 5px 13.95px 1.05px rgba(0, 0, 0, 0.15);
}

.price-item__img {
  position: relative;
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  height: 0;
  padding-top: 51%;
  background-color: #e2e2e2;
}

.price-item__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-item__body {
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.price-item__cell {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 0.8125rem;
  line-height: 1.66;
}

.price-item__cell + .price-item__cell {
  border-top: 1px solid #e0e0e0;
}

.price-item__title {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 12px;
  font-weight: bold;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.375rem;
  line-height: 1.3;
}

.price-item__title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  border-top: 2px solid #1a9e08;
}

.price-item__cost {
  font-family: "Blender Pro", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  color: #7f7f7f;
}

.price-item__footer {
  padding: 22px 0;
  background-color: #edeeef;
}

.price-item__footer .button {
  display: block;
  width: 100%;
  max-width: 210px;
  margin: 0 auto;
  padding: 0.8em 1em;
  font-size: 0.9375rem;
}

.price-bottom-row {
  padding-top: 12px;
}

/*------------------------------------------*/
/*  #INTERIOR
/*------------------------------------------*/
.interior {
  padding-top: 70px;
}

.interior-title {
  margin-bottom: 36px;
}

.interior-row {
  height: 700px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e1e1e1;
}

/*------------------------------------------*/
/*  #KIT
/*------------------------------------------*/
.kit {
  padding-top: 85px;
  padding-bottom: 50px;
  border-top: 1px solid #e1e1e1;
}

.kit-title {
  margin-bottom: 50px;
}

.kit-list {
  margin-left: -15px;
  margin-right: -15px;
}

.kit-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.kit-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 412px;
  padding: 30px;
  padding-bottom: 26px;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 7px 13.5px 1.5px rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
}

.kit-item:hover .kit-item__content {
  box-shadow: 0px 7px 13.5px 1.5px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

.kit-item__img {
  width: 100%;
  height: 0;
  padding-top: 83.74384236%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 18px;
}

.kit-item__title {
  position: relative;
  font-weight: 500;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.kit-item__title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 50px;
  border-top: 2px solid #1a9e08;
}

.kit-item__desc {
  font-size: 0.875rem;
}

/*------------------------------------------*/
/*  #TV
/*------------------------------------------*/
.tv {
  padding-top: 82px;
  padding-bottom: 90px;
}

.tv-title {
  margin-bottom: 42px;
}

.tv-slider {
  height: 630px;
}

.tv-item {
  position: relative;
}

.tv-item__textbox {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  max-width: 300px;
  padding: 32px 40px;
  border-radius: 3px;
  font-size: 0.9375rem;
  line-height: 1.66;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8.37px 0.63px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.tv-item__textbox-title {
  position: relative;
  font-family: "Blender Pro", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 18px;
  padding-bottom: 16px;
}

.tv-item__textbox-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 50px;
  border-top: 2px solid #fff;
}

/*------------------------------------------*/
/*  #APP
/*------------------------------------------*/
.app {
  padding-top: 78px;
  padding-bottom: 34px;
}

.app-title {
  margin-bottom: 18px;
}

.app-block {
  display: flex;
  flex-wrap: wrap;
}

.app-images {
  position: relative;
  width: 100%;
  max-width: 334px;
  margin-left: -30px;
  padding-top: 48px;
  z-index: 0;
}

.app-images::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 535px;
  height: 535px;
  z-index: -1;
  background: url(../img/shining.png) no-repeat 50% 50%/cover;
}

.app-controls {
  width: 100%;
  width: 72.807%;
  margin-left: -5px;
  margin-right: -5px;
  z-index: 1;
}

.app-controls__col {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.app-controls__text {
  position: relative;
  margin-bottom: 10px;
  padding-top: 42px;
  padding-right: 25px;
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.6;
}

.app-controls__text::after {
  position: absolute;
  content: '';
  bottom: 38px;
  left: -20px;
  width: 62px;
  height: 56px;
  background: url(../img/green-arrow.png) no-repeat 0 0/cover;
}

.app-control {
  min-height: 180px;
  margin-bottom: 10px;
  padding: 25px 30px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 8.37px 0.63px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.app-control:hover {
  box-shadow: 0px 5px 8.37px 0.63px rgba(26, 158, 8, 0.2);
  border-color: rgba(26, 158, 8, 0.2);
  transform: translateY(-4px);
}

.app-control__title {
  display: block;
  font-weight: bold;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 6px;
}

.app-control__desc {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #797979;
}

.app-icon {
  display: inline-block;
  height: 48px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app-icon-task {
  width: 26px;
  background-image: url(../img/icons/app-task.svg);
}

.app-icon-price {
  width: 30px;
  background-image: url(../img/icons/app-price.svg);
}

.app-icon-analysis {
  width: 33px;
  background-image: url(../img/icons/app-analysis.svg);
}

.app-icon-photo {
  width: 24px;
  background-image: url(../img/icons/app-photo.svg);
}

.app-icon-payment {
  width: 30px;
  background-image: url(../img/icons/app-payment.svg);
}

.app-icon-transaction {
  width: 38px;
  background-image: url(../img/icons/app-transaction.svg);
}

.app-icon-costs {
  width: 32px;
  background-image: url(../img/icons/app-costs.svg);
}

/*------------------------------------------*/
/*  #FAQ
/*------------------------------------------*/
.faq {
  padding-top: 80px;
  padding-bottom: 60px;
  border-top: 1px solid #fff;
}

.faq-title {
  margin-bottom: 42px;
}

.faq-list {
  margin-left: -15px;
  margin-right: -15px;
}

.faq-list > [class*=pure-u] {
  padding-left: 15px;
  padding-right: 15px;
}

.faq-accordion__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0px 7px 10.92px 1.08px rgba(0, 0, 0, 0.08);
}

.faq-accordion__title {
  position: relative;
  width: 100%;
  display: block;
  padding-left: 58px;
  padding-top: 28px;
  padding-bottom: 28px;
  line-height: 1.4;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.faq-accordion__title::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 54%;
  transform: translateY(-50%);
  width: 42px;
  height: 37px;
  width: 34px;
  height: 30px;
  background: url(../img/icons/question.svg) no-repeat 50% 50%/cover;
}

.faq-accordion__title::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.faq-accordion__title.active::before {
  background-image: url(../img/icons/answer.svg);
}

.faq-accordion__title.active::after {
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.faq-accordion__item > div {
  display: none;
  padding: 20px 15px 34px 15px;
  border-top: 1px solid #e0e0e0;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #6d6d6d;
}

/*------------------------------------------*/
/*  #REVIEWS
/*------------------------------------------*/
.reviews {
  min-height: 700px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.reviews::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.reviews-title {
  margin-bottom: 78px;
  color: #fff;
}

.reviews-slider {
  padding: 0 98px;
}

.review {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 45px 30px 30px;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 4px 7.52px 0.48px rgba(0, 0, 0, 0.5);
}

.review-img {
  position: relative;
  flex: none;
  width: 100%;
  max-width: 210px;
  margin-right: 36px;
  overflow: hidden;
}

.review-img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
}

.review-body {
  flex: 1;
}

.review-heading {
  position: relative;
  padding-bottom: 16px;
}

.review-heading::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 60px;
  border-top: 2px solid #1a9e08;
}

.review-heading span {
  display: block;
}

.review-name {
  font-weight: bold;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}

.review-work {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6d6d6d;
}

.review-desc {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.review-desc::after {
  position: absolute;
  content: '';
  top: -45px;
  right: 10px;
  width: 119px;
  height: 102px;
  background: url(../img/icons/quote.svg) no-repeat 50% 50%/cover;
  opacity: 0.05;
}

.review-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
}

.review-logo {
  flex: none;
  display: inline-block;
}

.review-link {
  margin-left: 20px;
  padding: 10px 0 10px 20px;
  border-left: 1px solid #e0e0e0;
  font-size: 0.875rem;
  line-height: 1;
  color: #1a9e08;
}

.review-link:hover, .review-link:focus {
  color: #1a9e08;
}

.review-link span {
  border-bottom: 1px dashed #1a9e08;
}

/*------------------------------------------*/
/*  #TEAM
/*------------------------------------------*/
.team {
  padding-top: 95px;
  padding-bottom: 50px;
}

.team-title {
  margin-bottom: 65px;
}

.team-slider {
  padding: 0 80px;
}

.team-cell {
  width: 290px;
  cursor: pointer;
}

.team-item {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.team-cell:hover .team-item {
  transform: translateY(-6px);
  transition: transform 0.2s ease-in-out;
}

.team-item__img {
  text-align: center;
  max-height: 330px;
}

.team-item__img img {
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 0.2s ease-in-out;
}

.team-cell:hover .team-item__img img {
  transform: scale(1.015);
  transition: transform 0.2s ease-in-out;
}

.team-item__body {
  padding: 28px 30px;
  border: 5px solid #edeeef;
  border-radius: 2px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 3px 6.65px 0.35px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.team-cell:hover .team-item__body {
  border-color: #1a9e08;
  box-shadow: 0px 5px 11.16px 0.84px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.team-item__name {
  font-weight: bold;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.375rem;
  line-height: 1.4;
}

.team-item__position {
  font-style: italic;
  color: #646464;
  line-height: 1.4;
}

/*------------------------------------------*/
/*  #MEDIA
/*------------------------------------------*/
.media {
  padding-top: 82px;
  padding-bottom: 80px;
}

.media-title {
  margin-bottom: 60px;
}

.media-list {
  margin-left: -15px;
  margin-right: -15px;
}

.media-list > [class*=pure-u] {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.media-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 416px;
  padding: 25px;
  border: 5px solid #edeeef;
  border-radius: 2px;
  background-color: #fff;
}

.media-item__img {
  position: relative;
  flex: none;
  width: 100%;
  max-width: 275px;
  margin-right: 36px;
  overflow: hidden;
}

.media-item__img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
}

.media-item__body {
  flex: 1;
}

.media-item__body > * + * {
  margin-top: 24px;
}

.media-item__title {
  position: relative;
  font-weight: 500;
  font-family: "Blender Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  padding-bottom: 14px;
}

.media-item__title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 50px;
  border-top: 2px solid #1a9e08;
}

.media-item__desc {
  line-height: 1.63;
}

.media-item__link {
  display: inline-block;
  color: #1a9e08;
  font-size: 0.875rem;
  border-bottom: 1px dashed #1a9e08;
  line-height: 1.4;
}

/*------------------------------------------*/
/*  #FEEDBACK
/*------------------------------------------*/
.feedback {
  padding-top: 55px;
  padding-bottom: 55px;
}

.feedback-heading {
  padding-left: 40px;
  margin-bottom: 26px;
}

.feedback-title {
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin-bottom: 12px;
  line-height: 1.4;
}

.feedback-title::after {
  position: absolute;
  content: '';
  top: auto;
  bottom: 0;
  left: 0;
  width: 70px;
  border-top: 2px solid #1a9e08;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.feedback-form > * {
  margin: 0 6px 20px 6px;
}

.form-control__wrapper {
  width: 100%;
  max-width: 258px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 1px 1.732px 5.76px 0.24px rgba(0, 0, 0, 0.05);
}

.form-control {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 0.875rem;
  line-height: 1;
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #333;
}

.button--submit {
  display: block;
  width: 100%;
  max-width: 240px;
}

.feedback-notes {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e0e0e0;
  padding-top: 18px;
  font-size: 0.875rem;
  text-align: right;
}

.feedback-notes a {
  color: #1a9e08;
  text-decoration: underline;
}

/*------------------------------------------*/
/*  #CONTACTS
/*------------------------------------------*/
.contacts {
  position: relative;
  width: 100%;
}

.contacts .container {
  position: relative;
  height: 640px;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.contacts-block {
  position: absolute;
  top: 90px;
  left: 15px;
  width: 100%;
  max-width: 460px;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 5px 11.16px 0.84px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.contacts-title {
  padding-top: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.contacts-title::after {
  position: absolute;
  content: '';
  top: auto;
  bottom: 0;
  left: 0;
  width: 68px;
  border-top: 3px solid #1a9e08;
}

.contacts-item {
  position: relative;
  padding: 16px 0 16px 36px;
  font-size: 1.125rem;
}

.contacts-item::after {
  position: absolute;
  content: '';
  left: 0;
  top: 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.contacts-item:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

.contacts-item--phone::after {
  width: 22px;
  height: 22px;
  background-image: url(../img/icons/call.svg);
}

.contacts-item--email::after {
  top: 22px;
  width: 25px;
  height: 18px;
  background-image: url(../img/icons/mail.svg);
}

.contacts-item--address::after {
  width: 20px;
  height: 27px;
  background-image: url(../img/icons/place.svg);
}

.contacts-item--address span {
  color: #888;
}

/*# sourceMappingURL=style.css.map */
