/*------------------------------------------*/
/*  #DESIGN
/*------------------------------------------*/

.design {
  padding-top: 82px;
  padding-bottom: 55px;
}

.design-title {
  margin-bottom: 60px;

  @media only screen and (min-width: 62em) {
    margin-bottom: 100px;
  }
}

.design-instance {
  height: 530px;
  background-color: #999;
}