/*------------------------------------------*/
/*  #DESIGN
/*------------------------------------------*/

.design {
  padding-top: 72px;
  padding-bottom: 0;
  background-color: yellow;
}

.design-instance {
  height: 530px;
  background-color: green;
}