/*------------------------------------------*/
/*  #INTERIOR
/*------------------------------------------*/

.interior {
  padding-top: 70px;
}

.interior-title {
  margin-bottom: 36px;
}

.interior-row {
  height: 700px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e1e1e1;
}