/*------------------------------------------*/
/*  #MEDIA
/*------------------------------------------*/

.media {
  padding-top: 82px;
  padding-bottom: 80px;
}

.media-title {
  margin-bottom: 60px;
}

.media-list {
  margin-left: -15px;
  margin-right: -15px;

  > [class*=pure-u] {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
}

.media-item {
  min-height: 416px;
  padding: 25px;
  padding-bottom: 35px;
  border: 5px solid #edeeef;
  border-radius: 2px;
  background-color: #fff;

  @media only screen and (min-width: 80em) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
}

.media-item__img {
  position: relative;
  width: 100%;
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;

  @media only screen and (min-width: 80em) {
    margin-right: 36px;
    margin-bottom: 0;
  }
}

.media-item__body {
  flex: 1;

  > * + * {
    margin-top: 24px;
  }
}

.media-item__title {
  position: relative;
  font-weight: 500;
  font-family: $fontS;
  font-size: rem(20);
  line-height: 1.3;
  padding-bottom: 14px;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 50px;
    border-top: 2px solid $green;
  }
}

.media-item__desc {
  line-height: 1.63;
}

.media-item__link {
  display: inline-block;
  color: $green;
  font-size: rem(14);
  border-bottom: 1px dashed $green;
  line-height: 1.4;
  transition: border-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $green;
    border-color: transparent;
  }
}