/*------------------------------------------*/
/*  #MODAL PORTFOLIO SLIDER
/*------------------------------------------*/

.modalbox--cv {

  .modal-container {
    max-width: 1145px;
  }
}

.cv-wrapper {
  position: relative;
}

.cv-slider {
  width: 95%;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  // height: 600px;
  overflow: hidden;
}

.cv-cell {
  width: 100%;
  margin-right: 50px;
  background-color: #fff;
}

.cv-item__wrapper {
  padding: 30px;

  @media only screen and (min-width: 62em) {
    padding: 35px;
    padding-right: 0;
  }
}

.cv-item__left {
  width: 100%;

  @media only screen and (min-width: 62em) {
    flex-basis: 59%;
    max-width: 59%;
  }
}

.inner-slider {
  margin-bottom: 14px;

  .flickity-button {
    background: transparent !important;
  }

  .flickity-button-icon {
    fill: #fff;
    opacity: 0.6;
    filter: drop-shadow(0 3px 8px rgba(0,0,0,0.3));
    transition: opasity 0.2s ease-in-out;
  }

  .flickity-button:hover .flickity-button-icon {
    opacity: 1;
  }
  
}

.inner-cell {
  width: 100%;
  height: 0;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 62em) {
    padding-top: 62.5%;
  }
}

.inner-thumbs__wrapper {
  height: 165px;
  max-width: 100%;
  width: 100%;
  display: none;

  @media only screen and (min-width: 62em) {
    display: block;
  }
}

.inner-thumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -7px;
  margin-right: -7px;
}

.inner-thumb {
  display: block;
  margin: 0 7px 14px 7px;
  overflow: hidden;
  flex-basis: calc(20% - 14px);
  max-width: calc(20% - 14px);
  border-radius: 2px;
  
  &.is-active {
    border: 3px solid $green;
  }

  img {
    transition: transform 0.2s ease-in-out;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

.cv-item__right {
  width: 100%;

  @media only screen and (min-width: 62em) {
    flex-basis: 41%;
    max-width: 41%;
  }

  .work-details__title {

    @media only screen and (min-width: 62em) {
      margin-left: 40px;
      margin-right: 35px;
    }
  }
}

.work-details__wrapper {
  position: relative;
  height: 350px;
  padding-right: 30px;
  padding-bottom: 30px;

  @media only screen and (min-width: 62em) {
    padding-left: 40px;
    padding-right: 35px;
    height: 455px;
  }
}

.cv-cell .button-modal-close {
  right: 5px;
}

.cv-nav {

  .nav-prev,
  .nav-next {
    opacity: 0.8;

    @media only screen and (min-width: 80em) {
      opacity: 0.5;
    }
  }
}