/*------------------------------------------*/
/*  #WORK-EXTRA
/*------------------------------------------*/

.work-extra {
  position: absolute;
  top: 7.8%;
  // bottom: 0;
  // top: 0;
  left: 0;
  height: 520px;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 5px 8.37px 0.63px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 25px;
  opacity: 0;
}

.work-extra.is-open {
  width: 390px;
  opacity: 1;
}

.work-cell:hover .work-extra {
  opacity: 1;
}

.work-extra__container {
  padding: 35px 50px 25px 25px;
  width: 100%;
}

.button-minimize {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(0, 0, 0, 0.15);
  text-transform: uppercase;

  span {
    position: absolute;
    top: 15px;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 60%);
    transform-origin: top left;
    padding-right: 15px;
    font-weight: normal;
    font-size: rem(11);
    line-height: 1;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(-45deg);
      width: 4px;
      height: 4px;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.work-extra.is-open .button-minimize span::after {
  transform: translateY(-50%) rotate(-225deg);
}

.work-details__title {
  position: relative;
  font-size: rem(26);
  line-height: 1.3;
  padding-bottom: 12px;
  margin-bottom: 30px;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 68px;
    border-top: 3px solid $green;
  }
}

.work-details__text {
  font-size: rem(14);

  b {
    font-weight: 500;
  }
}

.work-details__list {
  padding-top: 35px;
  margin-left: -10px;
  margin-right: -10px;
}

.work-detail {
  margin-bottom: 38px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.work-icon {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 34px;
  margin-bottom: 5px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.work-icon--house::after {
  width: 35px;
  height: 34px;
  background-image: url(../img/icons/house.svg);
}
.work-icon--tool::after {
  width: 38px;
  height: 26px;
  background-image: url(../img/icons/tool.svg);
}
.work-icon--clock::after {
  width: 34px;
  height: 34px;
  background-image: url(../img/icons/clock-1.svg);
}
.work-icon--scheme::after {
  width: 35px;
  height: 32px;
  background-image: url(../img/icons/scheme.svg);
}
.work-icon--wall::after {
  width: 33px;
  height: 26px;
  background-image: url(../img/icons/wall.svg);
}
.work-icon--car::after {
  width: 42px;
  height: 24px;
  background-image: url(../img/icons/car.svg);
}

.work-detail__title {
  display: block;
  font-weight: 500;
  font-family: $fontS;
  font-size: rem(15);
  line-height: 1.4;
}

.work-detail__desc {
  font-size: rem(11);
  line-height: 1.3;
}

.work-extra .button-arrow {
  display: block;
  width: 100%;
}
