/*------------------------------------------*/
/*  #PRICE
/*------------------------------------------*/

.price {
  padding-top: 60px;
  padding-bottom: 0;

  @media only screen and (min-width: 62em) {
    padding-top: 70px;
  }
}

.price-title {
  margin-bottom: 15px;
}

.price-heading {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.price-subtitle {
  font-weight: 200;
  font-size: rem(32);
  line-height: 1;

  @media only screen and (min-width: 62em) {
    font-size: rem(40);
  }
}

.price-list {
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.price-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.price-item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25px;
  border: 5px solid #edeeef;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #edeeef;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: -1;
  }
}

.price-item:hover .price-item__content {
  // background-color: #edeeef;
  box-shadow: 0px 5px 13.95px 1.05px rgba(0, 0, 0, 0.15);

  &::after {
    height: 100%;
  }
}

.price-item__img {
  position: relative;
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  height: 0;
  padding-top: 51%;
  background-color: #e2e2e2;

  img {
    position: absolute;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.price-item__body {
  flex-grow: 1;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.price-item__cell {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: rem(13);
  line-height: 1.66;
}

.price-item__cell + .price-item__cell {
  border-top: 1px solid #e0e0e0;
}

.price-item__title {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 12px;
  font-weight: bold;
  font-family: $fontS;
  font-size: rem(22);
  line-height: 1.3;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    border-top: 2px solid $green;
  }
}

.price-item__cost {
  font-family: $fontS;
  font-size: rem(18);
  line-height: 1.3;
  color: #7f7f7f;
}

.price-item__footer {
  padding: 22px 0;
  background-color: #edeeef;

  .button {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 0 auto;
    padding: 0.8em 1em;
    font-size: rem(15);
  }
}

.price-bottom-row {
  padding-top: 12px;
}


