/*------------------------------------------*/
/*  #REVIEWS
/*------------------------------------------*/

.reviews {
  padding-top: 60px;
  padding-bottom: 110px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media only screen and (min-width: 62em) {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.reviews-title {
  margin-bottom: 78px;
  color: #fff;
}

.reviews-wrapper {
  position: relative;
}

.reviews-nav {
  display: none;

  @media only screen and (min-width: 48em) {
    display: flex;
  }

  .nav-prev,
  .nav-next {
    opacity: 0.4;
  }
  
  .nav-prev { left: 10px; }
  .nav-next { right: 10px; }
}

.reviews-slider {
  padding: 0px;

  @media only screen and (min-width: 48em) {
    padding-left: 98px;
    padding-right: 98px;
  }

  .flickity-page-dots {
    bottom: -55px;
    left: 0;
  }

  .flickity-page-dots .dot {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 0.6;
  }
}

.review-cell {
  width: 100%;
  margin-right: 10px;
}

.review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 4px 7.52px 0.48px rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: 62em) {
    flex-direction: row;
    padding-right: 45px;
  }
}

.review-img {
  position: relative;
  flex: none;
  width: 100%;
  max-width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 50%;
  overflow: hidden;

  @media only screen and (min-width: 48em) {
    max-width: 210px;
    height: 210px;
  }

  @media only screen and (min-width: 62em) {
    margin-right: 36px;
    margin-bottom: 0;
    height: 285px;
    border-radius: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }
}

.review-body {
  flex: 1;
}

.review-heading {
  position: relative;
  padding-bottom: 16px;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 60px;
    border-top: 2px solid $green;
  }

  span {
    display: block;
  }
}

.review-name {
  font-weight: bold;
  font-family: $fontS;
  font-size: rem(24);
  line-height: 1.4;
}

.review-work {
  font-style: italic;
  font-size: rem(14);
  line-height: 1.4;
  color: #6d6d6d;
}

.review-desc {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  
  @media only screen and (max-width: 36em) {
    line-height: 1.4;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &::after {
    position: absolute;
    content: '';
    top: -45px;
    right: 10px;
    width: 119px;
    height: 102px;
    background: url(../img/icons/quote.svg) no-repeat 50% 50% / cover;
    opacity: 0.05;
  }
}

.review-footer {
  display: table;
  width: 100%;
  padding-top: 15px;
}

.review-footer__cell {
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
  white-space: nowrap;

  &:last-child {
    padding: 10px 0 10px 20px;
    border-left: 1px solid #e0e0e0;
    width: 99%;
  }
}

.review-logo {
  display: inline-block;
  width: 52px;
}

.review-link {
  font-size: rem(14);
  line-height: 1;
  color: $green;

  &:hover,
  &:focus {
    color: $green;
  }

  span {
    border-bottom: 1px dashed $green;
    transition: border-color 0.2s ease-in-out;
  }

  &:hover,
  &:focus {

    span {
      color: $green;
      border-color: transparent;
    }
  }
}