/*------------------------------------------*/
/*  #TEAM
/*------------------------------------------*/

.team {
  padding-top: 60px;
  padding-bottom: 20px;

  @media only screen and (min-width: 62em) {
    padding-top: 95px;
    padding-bottom: 50px;
  }
}

.team-title {
  margin-bottom: 40px;

  @media only screen and (min-width: 62em) {
    margin-bottom: 65px;
  }
}

.team-wrapper {
  position: relative;

  @media only screen and (min-width: 80em) {
    padding: 0 80px;
  }
}

.team-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .nav-prev,
  .nav-next {
    position: absolute;
    top: 0;
    width: 44px;
    height: 66px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transform: translateY(-50%);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .nav-prev {
    left: 0;
    background-image: url(../img/icons/arrow-team-l@2x.png);
  }

  .nav-next {
    right: 0;
    background-image: url(../img/icons/arrow-team-r@2x.png);
  }
  
}

.team-slider {
  height: 500px;
}

.team-cell {
  width: 280px;
  margin-right: 40px;
  cursor: pointer;

  @media only screen and (min-width: 80em) {
    margin-right: 45px;
    width: 290px;
  }
}

.team-item {
  padding-top: 15px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.team-cell:hover {

  .team-item {
    transform: translateY(-6px);
    transition: transform 0.2s ease-in-out;
  }
}

.team-item__img {
  text-align: center;
  max-height: 330px;
}

.team-item__img img {
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 0.2s ease-in-out;
}

.team-cell:hover {

  .team-item__img img {
    transform: scale(1.015);
    transition: transform 0.2s ease-in-out;
  }
}

.team-item__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border: 5px solid #edeeef;
  min-height: 110px;
  border-radius: 2px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 3px 6.65px 0.35px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;

  > * {
    max-width: 100%;
  }
}

.team-cell:hover {

  .team-item__body {
    border-color: $green;
    box-shadow: 0px 5px 11.16px 0.84px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}

.team-item__name {
  display: block;
  font-weight: bold;
  font-family: $fontS;
  font-size: rem(22);
  line-height: 1.4;
}

.team-item__position {
  display: block;
  font-style: italic;
  color: #646464;
  line-height: 1.2;
}