/*------------------------------------------*/
/*  #VIDEO
/*------------------------------------------*/

.video {
  padding-top: 72px;
  padding-bottom: 55px;
}

.video-title {
  margin-bottom: 60px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50.87719298%;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: opacity 0.8s, height 0s;
  transition-delay: 0s, 0s;
}

.video-play::before {
  background-color: rgba(0,0,0,0.5);
}

.video-play__button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}

.video-play__icon {
  fill: $green;
  transition: fill 0.2s ease-in-out;
}

.video-play:hover .video-play__icon {
  fill: mix(#000, $green, 15%);
}

.video-block .videoWrapperActive .video-play {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 800ms;
}

.video__textbox {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  max-width: 300px;
  padding: 32px 40px;
  border-radius: 3px;
  font-size: rem(15);
  line-height: 1.66;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8.37px 0.63px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.video__textbox-title {
  position: relative;
  font-family: $fontS;
  font-weight: bold;
  font-size: rem(24);
  line-height: 1.2;
  margin-bottom: 18px;
  padding-bottom: 16px;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 50px;
    border-top: 2px solid #fff;
  }
}