/*------------------------------------------*/
/*  #SECTION-TITLE
/*------------------------------------------*/

.section-title {
  position: relative;
  padding-top: 18px;
  font: bold rem(30) $fontS;
  line-height: 1.3;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 68px;
    border-top: 3px solid $green;
  }
}

.section-title--blur {
  position: absolute;
  top: -10px;
  left: 5px;
  font-size: rem(80);
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.02);
}