/*------------------------------------------*/
/*  #CUSTOM SCROLLBAR
/*------------------------------------------*/

.simplebar-track {
  width: 6px;
  background-color: #efefef;
}

.simplebar-scrollbar {
  width: 3px;
  right: 4px;
}

.simplebar-scrollbar:before {
  background-color: #9a9a9a;
  opacity: 1 !important;
}

.simplebar-track.simplebar-vertical {
  right: 0;
}

.simplebar-track.simplebar-horizontal {
  display: none !important;
}